.main-header
  display: flex
  justify-content: space-around
  align-items: center
  padding: 1.5em 0 1.5em 0
  background: white

.nav
  display: flex
  justify-content: space-around
  li
    padding: 8px 16px 8px 16px
    margin-right: 1em
    a
      font-size: 18px
      text-decoration: none
      color: #31353e
  li:hover
    border-radius: 25px
    background-color: #dd4b2b
    a
      color: white
.active
  border-radius: 25px
  background-color: #dd4b2b
  a
    color: white
