.welcome
  min-height: 92vh
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.0) 100%), url("../../graphic/images/photo-1416453072034-c8dbfa2856b5.jpg.png")
  background-position: top center
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  color: white
  display: flex
  align-items: center
.welcome-header
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4)
  font-size: 36px
  line-height: 48px
  font-weight: 300
  padding: 2em 0 2em 0
.top-text
  font-size: 72px
  font-weight: 200
.welcome-button
  margin: 0 0 1em 0
