.welcome
  min-height: 92vh
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.0) 100%), url("../../graphic/images/photo-1416453072034-c8dbfa2856b5.jpg.png")
  background-position: top center
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  color: white
  display: flex
  align-items: center


