.main-footer {
  padding: 5em;
  background: url("../../graphic/images/photo-1428660386617-8d277e7deaf2.png");
  background-position: bottom center;
  color: rgba(255, 255, 255, 0.5); }
  .main-footer a {
    color: white; }

.ipsum-dolor {
  background: ghostwhite; }
  .ipsum-dolor .container {
    padding: 5em; }

button.orange {
  color: white;
  background-color: #dd4b2b; }

button.violet {
  background-color: #4b4e73;
  color: white; }

.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #d75d0e;
  color: white;
  padding: 5em 0 5em 0; }

.list {
  width: 100%; }

body {
  font-family: 'Roboto Slab', serif !important; }

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center; }
  .list li {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center; }
    .list li ul {
      padding: 0; }
    .list li h3 {
      padding: 1em 1em 0.5em 1em;
      width: 100%; }

.button {
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 27px;
  background-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #612316; }

button:focus {
  outline: 0 !important; }

button {
  cursor: pointer; }

input:focus {
  outline: 0 !important; }

.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5em 0 1.5em 0;
  background: white; }

.nav {
  display: flex;
  justify-content: space-around; }
  .nav li {
    margin-right: 1em; }
    .nav li a {
      font-size: 18px;
      text-decoration: none;
      color: #31353e; }
  .nav li:hover {
    border-radius: 25px;
    background-color: #dd4b2b; }
    .nav li:hover a {
      color: white; }

.active:active {
  border-radius: 25px;
  background-color: #dd4b2b; }
  .active:active a {
    color: white; }

.navbar-brand {
  line-height: 36px; }
  .navbar-brand h1 {
    font-weight: 700;
    font-size: 36px;
    color: #31353e;
    padding: 0;
    margin: 0; }
  .navbar-brand p {
    color: #dd4b2b;
    font-size: 16px;
    margin: 0;
    letter-spacing: 0.96px; }

.newsletter {
  padding: 5em;
  background: url("../../graphic/images/photo-1428660386617-8d277e7deaf2.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: scroll;
  color: white; }
  .newsletter form {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px; }
    .newsletter form input {
      height: 100%;
      background: none;
      border: none;
      color: #f3f4f6;
      padding-left: 1em; }
    .newsletter form input::placeholder {
      color: #f3f4f6; }

.our-news {
  background: ghostwhite;
  padding: 0 0 4em 0; }
  .our-news header {
    margin: 3em 0 3em 0; }
    .our-news header h3 {
      font-weight: 700; }

.welcome {
  min-height: 92vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, transparent 100%), url("../../graphic/images/photo-1416453072034-c8dbfa2856b5.jpg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center; }

.welcome-header {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  font-size: 36px;
  line-height: 48px;
  font-weight: 300; }

.top-text {
  font-size: 72px;
  font-weight: 200; }
